<!DOCTYPE html>
<html>
    <head>
        <title>Blog Post API</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
     </head>
     <body>
         <div class="container">
             <h1>BLOG POST</h1>
             <section>
                 <form id="blog-post-form">
                     <label for="blog-post-entry">Add an Entry</label>
                     <input type="text" name="blog-post-entry"  id="blog-new-item" placeholder="e.g., Blah blah blah">
                    <button type="submit"> Add Entry</button>
                    </form>
                    
                    <ul class="blog-list"><h1>Blog Posts:</h1></ul>
             </section>
         </div>

         <script src="//code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="/client.js"></script>
     </body>
</html>